doctype html
html
    head
        meta(charset='UTF-8')
        title Mi aplicacion
        link#bootstrap-css(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css' rel='stylesheet')
        script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
        script(src='//code.jquery.com/jquery-1.11.1.min.js')
    body
        h3  Vista de productos 
        
        block content